# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# OS / editor files
.DS_Store
.vscode/

# Results (generated)
results/*.png
results/*.csv

*.egg-info/

